*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

header{
	background-image: url(../img/top_bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 644px;
	position: relative;
	font-family: "BebasBold"; 
}
header a{
	color: #fff;
}
.top_line{
	 min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.3)  0 0 0 1px;
	 box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
     width: 100%;
     background-color: rgba(0,0,0,.6);
     padding: 22px 0;

}
.top_line a{
	font-size: 21px;
	border-bottom: #fff dashed 1px;
	-webkit-transition: all .25s;
	-o-transition: all .25s; 
	transition: all .25s;
}
.top_line a:hover{
	border-bottom: transparent 1px dashed;
}
.top_addr {
    background-image: url("../img/top_map.png");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 50px;
    line-height: 26px;  
}

.top_addr strong{
	display: block;
	color: #d12f22;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 32px;
}
.logo_wrap{
	position: relative;
	margin: auto;
	width: 240px;
}

.top_line .logo{
	border-bottom: none;
	position: absolute;
	margin-top: -18px;

}
.top_line .logo:hover{
	border-bottom: none;
}
.ta_right{
	background-image: none;
	padding-left: 0;
	text-align: right;
}
.ta_right span{
	color: #fff;
}

header h1{
   text-align: center; 
   color: #fff;
   font-size: 40px;
   margin-top: 68px;
   text-shadow:rgba(0,0,0,.55) 0 3px;
   	font-family: "BebasRegular"; 

}
.button {
    background-color: #d12f22;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding: 0 23px;
    vertical-align: middle;
    border-bottom: #ac160a 4px solid;
    color: #fff;
    font-family: "BebasBold";
}
header .button{
	margin-right: 20px;
}

header .button.st_button{
 	line-height: 18px;
 	padding-top: 7px;
   text-align: left;
   padding-left: 63px;
   background-image: url(../img/camera_icon.png);
   background-repeat: no-repeat;
   background-position: 8px 8px;
 }
.buttons_top {
    bottom: 32px;
    position: absolute;
    width: 100%;
}
.button:hover{
	background-color: #e64437;
}
.button:active{
	background-color: #b81609;
}
.top_mnu{
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255,255,255,.3)  0 0 0 1px;
	 box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	font-family: "BebasRegular";
}

.top_mnu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-transform: uppercase; 
}
.top_mnu a{
   color:#fff;
   font-size: 20px;
   padding: 0 26px 0 54px;
   display: block;
   line-height: 62px;
   border-left: #3b3b3b 1px solid;
   background-image: url(../img/top_mnu_iconset.png);
   background-repeat: no-repeat;
   background-position: 20px 20px;
}

.top_mnu li{
float: left;
}

.top_mnu li.active a,
.top_mnu li:hover a{
	background-color: #050505;
}
.top_mnu li:nth-child(2) a {
   background-position: 20px -57px;
}
.top_mnu li:nth-child(3) a {
   background-position: 28px -137px;
}
.top_mnu li:nth-child(4) a {
   background-position: 20px -223px;
}
.top_mnu li:nth-child(5) a {
   background-position: 20px -302px;
}
.top_mnu li:nth-child(6) a {
   background-position: 25px -379px;
}

.waranty{
   color: #fff;
   float: right;
   cursor: default;
   font-size: 15px;
   border-right: ;
   border: 3px solid #fff;
   border-radius: 3px;
   padding: 3px 5px;
   line-height: 16px;
   margin-top: 8px;
}
.w_left,
.w_right{
	display: inline-block;
	vertical-align: top;
}

.w_left{
	font-family: "BebasBold";
	font-size: 20px;
	margin-top: 13px;
	margin-right: 7px;
}
.w_left span{
	font-size: 34px;
}
.w_right{
		font-family: "RobotoCondensedRegular";
}
.main_cats{
	background-color: #191919;
	padding: 20px 0 32px;
}
.main_cats h2,
h2.art_header{
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: "BebasRegular";
	font-size: 40px;
	text-align: center;
}
.main_cats h2 strong{
	color: #fff;
}
.main_cats h2 span{
	color: #d12f22;
}

section h2,
article h2{
	position: relative;
}
.s_black h2::before{
   content:"";
   position: absolute;
   width: 50px;
   height: 20px;
   background-image: url(../img/header_img.png);
   background-repeat: no-repeat;
   top: 19px;
   margin-left: -68px;
}
.s_black h2::after{
   content:"";
   position: absolute;
   background-position: -50px 0;
   width: 50px;
   height: 20px;
   background-image: url(../img/header_img.png);
   background-repeat: no-repeat;
   top: 20px;
   margin-left: 20px;
}
article h2.art_header::before{
   content:"";
   position: absolute;
   width: 50px;
   height: 20px;
   background-image: url(../img/art_header_img.png);
   background-repeat: no-repeat;
   top: 19px;
   margin-left: -68px;
}
article h2.art_header::after{
   content:"";
   position: absolute;
   background-position: -50px 0;
   width: 50px;
   height: 20px;
   background-image: url(../img/art_header_img.png);
   background-repeat: no-repeat;
   top: 20px;
   margin-left: 20px;
}


.mc_wrap{
	text-align: center;
	padding: 0;
	position: relative;
}
.mc_item_wrap{
	margin-left: 30px;
	display: inline-block;
	text-align: center;
}
.mc_item_wrap:nth-child(1){
	margin-left: 0;
}
.mc_item_wrap:nth-child(2) span{
    background-position: -133px 0;
}
.mc_item_wrap:nth-child(3) span{
background-position:     -280px 0;
}
.mc_item_wrap:nth-child(4) span{
    background-position: -429px 0;
}
.mc_item_wrap:nth-child(5) span{
    background-position: -605px 0;
}
.mc_item_wrap:nth-child(6) span{
    background-position: -750px 0;
}
.mc_item_wrap a{
	color: #fff;
}
.mc_item{
	border: 1px solid #353535;
    border-radius: 2px;
    width:160px;
    display: inline-block;
}    

.mc_item span{
	display: block;
	height: 85px;
	width: 130px;
    background-image: url(../img/cuts_iconset.png);
    background-repeat: no-repeat;
    margin: 15px auto 0;
}
.mc_item h4{
	font-weight: normal;
	font-family: "BebasBold";
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 7px;
}
.mc_item a:hover h4,
.mc_item_wrap.active{
	text-decoration: underline;

}
.mc_item_wrap.active,
.mc_item:hover{
    background-color: #2a2a2a;
}
.mc_toggle{
	background-color: #212121;
	height: 25px;
	position: relative;
	cursor: pointer;
	background-image: url(../img/mc_arr.png);
    background-repeat: no-repeat;
    background-position: 72px 10px;
}
.mc_item_wrap.active .mc_toggle,
.mc_item:hover .mc_toggle{
   	background-color: #353535;
   	background-position: -116px 10px;
}
.mc_item_wrap.active > ul{
	margin:0;
	padding: 0;
	list-style-type: none;
}
body .mc_wrap .mc_item_wrap > ul{
	font-size: 20px; 
	background-color: #353535;
	position: absolute;
	width: 100%;
	margin-top: 25px;
	padding: 15px 0;
	list-style-position: none;
	z-index: 10;
	display: none;
	left: 0;

}
.mc_item_wrap.active > ul li{
    display: inline-block;
	font-family: "BebasRegular";
}
.mc_item_wrap.active > ul li a{
	padding: 0 10px;
	text-decoration: underline;		
}
.mc_item_wrap.active > ul li a:hover{
	text-decoration: none;
}
.main_cats.button{
	display: inline-block;
}
.mc_button_w{
	text-align: center;
	margin-top: 30px;
}
article.content{
	background-color: #e9e9e9;
}
article .art_header{
	color: #050505;
	margin-bottom: 10px;
}
p.h_descr{
    max-width: 790px;
    text-align: center;
    margin: auto;
    margin-top: 0;
    color: #050505;
}
.home_items{
	background-color: #d6d6d6;
	padding: 40px 0;
	margin-top: 40px;	
}
.h_item img{
    max-width: 100%;
    border-top: 8px solid #ac160a;
}
.h_item{
	color: #050505;
	text-align: center;
	font-size: 14px;
	margin-bottom: 50px;
}
.s_botton{
	padding-top: 32px;
}
.sb_header.button_cont{
	text-align: right;

}

.s_botton img{
	max-width: 90%;
    position: absolute;
    bottom: 0;
}
.sb_header h2{
	margin: 0;
	text-transform: uppercase;
    font-family: "BebasRegular";
    font-size: 36px;
  
}
.sb_header{
	line-height: 50px;
	vertical-align: middle;
}
.sb_content{
	margin-top: 30px;
}
footer{
	background-color: #2a2a2a;
	color: #fff;
	padding: 28px 0 350px;
	font-family: "BebasBold";
	font-size: 20px;
}
footer a{
	color: #fff;
}
footer ul{
	list-style-type: none; 
	margin: 0;
	padding: 0;

}
footer li{
		float: left;
}

footer a{
   padding: 0 10px;
   text-decoration: underline;
}
footer a:hover{
   text-decoration: none;
}